doctype html
html
  head
    title= title || 'Untitled'
    link(rel='stylesheet' href='/stylesheets/styles.css')
  body
    != body

    ul
      li: a(href='/example') Example
      li: a(href='/demo') Demo
      li: a(href='/') Home page
